Name: Silactions [Beta]
Package: com.ps.silactions
Maintainer: PoomSmart
Author: PoomSmart
Depends: firmware (>= 11.0), mobilesubstrate, org.coolstar.sileo (>= 1.0.7)
Section: Tweaks
Version: 1.0
Architecture: iphoneos-arm
Description: Manage packages in Sileo easier.
Depiction: https://poomsmart.github.io/repo/depictions/silactions.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/silactions.json
